---
import type { CollectionEntry } from 'astro:content'
import PostPreview from '@/components/PostPreview.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllPosts, sortMDByDate } from '@/utils/post'
import type { GetStaticPaths, Page } from 'astro'

export const getStaticPaths = (async ({ paginate }) => {
  const allPosts = await getAllPosts()
  const allPostsByDate = sortMDByDate(allPosts)
  return paginate(allPostsByDate, { pageSize: 10, props: {} })
}) satisfies GetStaticPaths

interface Props {
  page: Page<CollectionEntry<'posts'>>
}
export const prerender = true

const { page } = Astro.props
---

<Layout title='Blog' description='Posts'>
    <h1 class="mb-6 mt-5 text-2xl font-bold">Blog</h1>
    {page.data.length == 0 && <p>No posts yet.</p>}

    {
        page.data.length > 0 && (
            <div>
                <section>
                    <ul>
                        {
                            page.data.map((p) => (
                                <PostPreview post={p} />
                            ))
                        }
                    </ul>
                </section>
            </div>
        )
    }
</Layout>