---
import type { CollectionEntry } from 'astro:content'
// import Category from '@/components/Category.astro'
import PostPreview from '@/components/PostPreview.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllPosts, getUniqueCategories, sortMDByDate } from '@/utils/post'
import type { GetStaticPaths, Page } from 'astro'

export const prerender = true
export const getStaticPaths = (async ({ paginate }) => {
  const allPosts = await getAllPosts()
  const allPostsByDate = sortMDByDate(allPosts)
  const uniqueCategories = getUniqueCategories(allPostsByDate)

  return uniqueCategories.flatMap((category) => {
    const filterPosts = allPostsByDate.filter((post) => {
      if (post.data.category) {
        return post.data.category === category
      }
      return false
    })

    return paginate(filterPosts, {
      pageSize: 10,
      params: { category },
    })
  })
}) satisfies GetStaticPaths

interface Props {
  page: Page<CollectionEntry<'posts'>>
}

const { page } = Astro.props
const { category } = Astro.params
---

<Layout title={`Category: ${category}`} description={`View all posts with the category - ${category}`}>
    <h1 class="mb-6 mt-5 flex items-end gap-x-2 text-2xl font-bold">
        Category: <span class="mr-1 text-pretty tag bg-gradient-to-lightblue font-grotesk">{category}</span>
    </h1>
    <section>
        <ul class="flex flex-col gap-y-3 text-start">
            {
                page.data.map((p) => (
                    <PostPreview post={p} />
                ))
            }
        </ul>
    </section>
</Layout>
