---
import Layout from '@/layouts/Layout.astro'
import { getAllPosts, getUniqueCategoriesWithCount } from '@/utils/post'

const allPosts = await getAllPosts()
const allCategories = getUniqueCategoriesWithCount(allPosts)
---

<Layout title='categories' description='all categories'>
    <h1 class="mb-6 mt-5 font-bold text-2xl">Categories</h1>

    {allCategories.length === 0 && <p>No category yet.</p>}

    {
        allCategories.length > 0 && (
            <ul class="flex flex-col gap-y-3">
                {allCategories.map(([category, val]) => (
                   <li class="flex items-center gap-x-2">
                        <a 
                            data-astro-prefetch
                            href={`/categories/${category}`}
                            title={`View posts with the tag ${category}`}
                            class="inline-block underline underline-offset-4 hover:text-foreground/75">
                            {category}
                        </a>
                        <span class="inline-block">
                            - {val} post{val > 1 && 's'}
                        </span>
                   </li> 
                ))}
            </ul>
        )
    }
</Layout>