---
import ThemeIcon from './ThemeIcon.astro'

const activeStyle = 'opacity-100 text-black dark:text-white'
const inactiveStyle = 'opacity-80 hover:opacity-90'
const { pathname } = Astro.url
---

<nav class="flex items-start py-8 px-3">
    <ul class="flex flex-wrap p-0 m-0 mr-auto">
        <li class="nav-item">
          <a href="/" class:list={["nav-link", pathname == "/" ? activeStyle : inactiveStyle]}>Home</a>
        </li>
        <li class="nav-item">
          <a href="/posts" class:list={["nav-link", pathname == "/posts" ? activeStyle : inactiveStyle]}>Blog</a>
        </li>
        <li class="nav-item">
          <a href="/tags" data-astro-prefetch class:list={["nav-link", pathname == "/tags" ? activeStyle : inactiveStyle]}>Tags</a>
        </li>
    </ul>
    <ThemeIcon />
</nav>

<style>
.nav-item {
  --uno-apply: "list-none opacity-80 text-size-sm decoration-none";
}
.nav-link {
  --uno-apply: "mr-6";
}
</style>